{{!< default}}
{{> header}}
  {{#post}}
  <div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8" style="padding-left: 2em;">
        <article class="article_cece">
            <header class="posthead_cece">
                <time class="date_cece" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
                <h1 class="posttitle_cece" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
                <p class="date_cece">{{date format='DD MMM YYYY'}}</p>
                {{#if author}}
                <div class="author_cece">{{{author}}}</div>
                {{/if}}
            </header>
            <div class="postcontent_cece">
                {{content}}
            </div>

        {{#if tags}}
            <div class="posttags_cece">
                Tags: {{tags separator=" | "}}
                </div>
        {{/if}}
        </article>
        <div id="disqus_thread"></div>
          <script type="text/javascript">
              var disqus_shortname = 'ceceusb'; // required: replace example with your forum shortname
              var disqus_identifier = '{{post.id}}';

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 
      </div>
    </div>
  {{/post}}
{{> footer}}
